<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  {{ with .Site.Params.author }}
  <meta name="author" content="{{ . }}">
  {{ end }}
  {{ hugo.Generator }}

  {{ "<!-- Bootstrap -->" | safeHTML }}
  {{ $bootstrap := resources.Get "css/bootstrap.css" | minify }}
  <link rel="stylesheet" href="{{ $bootstrap.Permalink }}" />
  {{ "<!-- font-awesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "font-awesome/css/font-awesome.min.css" | absURL }}" />
  {{ "<!-- Main Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ "favicon.png" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "favicon.ico" | absURL }}" type="image/x-icon" />

</head>