{{ with .Site.Params.works }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
            <p>{{ .subtitle }}</p>
          </div>
        </div>
        {{ range first 4 (where $.Site.RegularPages "Type" "works") }}
        <div class="col-lg-6 col-md-10 mx-auto">
          <a href="{{ .Permalink }}">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
            </div>
            <div class="site-project-item-content">
              <span>{{ delimit .Params.category ", " }}</span>
              <h3>{{ .Title }}</h3>
            </div>
          </div>
          </a>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-left">
          <a href="works" class="site-project-cta">MORE WORKS</a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}