{{ define "main" }}

<div style="height: 100vh; background:white;">
<section class="site-about-header">
  <div class="container" style="padding-top: 50px;">
    <div class="row"> 
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company left-col">
             <img src="{{ "images/about_img.jpg" | absURL }}" class="rounded-circle" alt="my photo" style="width:80%;"/>
          </div>
          <div class="site-about-description self-intro">
            <p>
              Hi 🐾 I am Yuhan Tseng (曾鈺涵). I am from Taiwan and currently studying in Finland. With the background in <span class="highlight">New Media Design</span> and <span class="highlight">Technological Education</span>, I am passionate about interaction design, creating engaging interactive installations and experiences. Through exploring the interplay between people and technology, and continuous learning new technology, I strive to provide creative solutions with enjoyful experience.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="social-med">
      <a href="https://www.linkedin.com/in/yuhan-tseng-42b03421a" target="_blank" class="link social">Linkedin</a>
      <!--<a href="https://www.instagram.com/evilaebesaelp/" target="_blank" class="link social">Instagram</a>-->
      <a href="https://www.youtube.com/@tsengyuhan8857" target="_blank" class="link social">YouTube</a>
    </div>
    <div class="experience">
      <h3>Profile</h3>
      <br>
      <ul>
        <li>
          <span class="light_text">User-Centered Design:</span> When dsgining products and serveices, I focus not only on meeting the required functions but also on creating engaging interactions.</li>
        <li>
          <span class="light_text">Multiple Technology Integration: </span>With familiarity in microcontorllers, sensors, and motor control, I'm also experieneced in various techniques (Processing, p5.js, Unity, Python, TouchDesigner, etc.).
        </li>
        <li>
          <span class="light_text">Problem-Solving Skills: </span>Good at breaking down complex requirements into manageable problems and solving them one by one.
        </li>
        <li>
          <span class="light_text">Cross-disciplinary Collaboration: </span>Experiences in working with experts from various fields, enhancing my communication skills and teamwork abilities.
        </li>
        <li>
          <span class="light_text">Passion for Learning: </span>A keen interest in new technologies and continuous learning, keeping curious about the world and people.
        </li>


      </ul>
    </div>
    <div class="experience">
      <h3>Education</h3>
      <br>
      <p class="sub-title">MA in Art and Design<span class="right sub-title">Espoo, Finland</span></p>
      <p class="title">Aalto University<span class="right sub-title">09/2021-07/2024 (planned)</span></p>
      <p class="sub-title mobile">Espoo, Finland. 09/2021-07/2024 (planned)</p>
      <p class="sub-title highlight"> Major: New Media - Art and Media</p>
      <p class="sub-title highlight"> Minor: Digital Fabrication</p>
      <p class="sub-title">School of Arts, Design and Architecture</p>
      <ul>
        <li><a href="https://yuhantyh.gitlab.io/digital-fabrication/" target="_blank" class="link">Aalto Fablab (Digital Fabrication):</a> Learned various techniques, such as laser cutting, 3D modeling & printing, CNC, PCB design  & making, sensor control, programming, etc.</li>
        <li>Received <a href="https://twgps.moe.edu.tw/ResumeDetail/6256/5#" target="_blank" class="link">Government Scholarship to Study Abroad (GSSA，111年臺灣教育部留學獎學金)</a>, Ministry of Education, Taiwan.</li>
        
      </ul>
      <br>
      <p class="sub-title">BE in Technology and Engineering<span class="right sub-title">Taipei, Taiwan</span></p>
      <p class="title">National Taiwan Normal University<span class="right sub-title">08/2016-08/2019</span></p>
      <p class="sub-title mobile">Taipei, Taiwan. 08/2016-08/2019</p>
      <p class="highlight sub-title"> Technology Application and Human Resource Development (4.07/4.3)</p>
      <p class="sub-title"> College of Technology and Engineering</p>
      <ul>
        <li>Designing <a href="https://yuhantyh.gitlab.io/playground/works/coin-bank/" target="_blank" class="link">a coin-bank DIY kit</a> to integrate animal conservation and STEAM knowledge.
          <ul>
            <li>Received <span class="light_text">2nd Prize (The Gold Award)</span> of 2018 三創盃 Tourism Product Design Competition</li>
            <li><a href="https://oceanparkhongkong.ievent.hk/event/p/37814?lang=en" target="_blank" class="link">The First Ocean Park International STEAM Education Conference 2019 </a>oral presentation
            <br>"An STEAM-oriented Automatic Ocean-Animal Coin-Bank Course" (Authors: <span class="light_text">TSENG Yu-Han</span>, KUNG I-Chen, CIOU Yu-Han, CHIEN Yu-Hung)
            </li>
          </ul>
        </li>
        <li>Undergraduate Project: Design and Application of Mechatronic Integrated Teaching Aids
          <ul>
            <li><a href="https://drive.google.com/file/d/1O7ogQhymHWXbgKi9rcABeR-867TxFVz7/view?usp=sharing" target="_blank" class="link">Designing STEM DIY kit: robotic arm and claw machine</a></li>
            <li>Advisor: <a href="https://scholar.lib.ntnu.edu.tw/zh/persons/yu-liang-ting" target="_blank" class="link">Prof. Yu-Liang Ting</a></li>
            <li>Received <span class="light_text">2nd Prize</span> in 2019 graduation exhibition of Technology Application and Human Resource Development</li>
          </ul>
        </li>
        <li>Training officer of the Student Association of Technology Application and Human Resource Development: Plan educational activities for students of the department, such as workshops and lectures.</li>
        <li>Received <span class="light_text">2016 Academic Excellence Award</span></li>
        <li>Received <span class="light_text">2016 Excellence Student of Bachelor Scholarship</span></li>
      </ul>
    </div>
    <div class="experience">
      <h3>Work & Intern Experiences</h3>
      <br>
      <p class="sub-title">School of Electrical Engineering, Aalto University<span class="right sub-title">Espoo, Finland</span></p>
      <p class="title highlight">Research Assistant<span class="right sub-title">05/2023-03/2024 (11 mos)</span></p>
      <p class="sub-title mobile">Espoo, Finland. 05/2023-03/2024 (11 mos)</p>
      <p class="sub-title"> <a href="https://www.aalto.fi/en/wearable-systems-lab" target="_blank" class="link">Wearable Systems Lab</a></p>
      <ul>
        <li>Developing a wearable device's hardware system for thermal and haptic control (use ATtiny412 and ATtiny1614 with Arduino by I2C communication protocol).</li>
        <li>Designing and manufacturing <a href="https://yuhantyh.gitlab.io/playground/works/modular-pcb/" target="_blank" class="link">module PCBs</a> for controlling different actuators and sensors (peltier, vibration motor, heater pad, and thermistor).</li>
        <li>Working with a software engineer, a designer, and a textile designer.</li>
        <li>ACM IMX 2024 paper: "ThermoTouch: Exploring a modular design of a programmable wearable thermo-haptic device"
          <br>Authors: Vikberg Esa, <span class="light_text">Yu-Han Tseng</span>, Tim Moesgen, Ramyah Gowrishankar, Yu Xiao</li>
      </ul>
      <br>
      <p class="sub-title">Aalto University<span class="right sub-title">Espoo, Finland</span></p>
      <p class="title highlight">Student Assistant<span class="right sub-title">08/2022-07/2023 (1 yr)</span></p>
      <p class="sub-title mobile">Espoo, Finland. 08/2022-07/2023 (1 yr)</p>
      <p class="sub-title"> <a href="https://studios.aalto.fi/fablab/" target="_blank" class="link">Aalto Fablab</a></p>
      <ul>
        <li>Introducing the operation of the laser cutter, 3D-printer, SRM-20 milling machine, and vinyl cutter for students interested in using them.</li>
        <li>Assisting people when they have any questions about using facilities and materials.</li>
      </ul>
      <br>
      <p class="sub-title">AmazingTalker<span class="right sub-title">Taipei, Taiwan</span></p>
      <p class="title highlight">Graphic Design Intern<span class="right sub-title">05/2021-08/2021 (4 mos)</span></p>
      <p class="sub-title mobile">Taipei, Taiwan. 05/2021-08/2021 (4 mos)</p>
      <p class="sub-title"> <a href="https://en.amazingtalker.com/" target="_blank" class="link">AmazingTalker (an online language tutors and teachers platform)</a></p>
      <ul>
        <li>Doing market research about the audiences' preference for visual materials.</li>
        <li>Designing visual materials for the advertisement based on the research result.</li>
      </ul>
      <br>
      <p class="sub-title">National Taiwan Normal University <span class="right sub-title">Taipei, Taiwan</span></p>
      <p class="title highlight">Research Assistant<span class="right sub-title">09/2019-03/2020 (7 mos)</span></p>
      <p class="sub-title mobile">Taipei, Taiwan. 09/2019-03/2020 (7 mos)</p>
      <p class="sub-title"> <a href="https://all.tahrd.ntnu.edu.tw/" target="_blank" class="link">NTNU Adaptive eLearning Lab</a></p>
      <ul>
        <li>Project name: Learning Analytics of Game-Based Learning for the Computational Thinking of Interdisciplinary and the Application of Artificial Intelligence</li>
        <li>Developing teaching materials for AI education for elementary and high schools.</li>
        <li><a href="https://yuhantyh.gitlab.io/playground/works/ai-robot-car/" target="_blank" class="link">Designing a DIY robot car with a mobile APP</a> for students to learn STEM and image recognition.</li>
        <li>Assisting in teaching experiments about AI education research.</li>
      </ul>
      <br>
      <p class="sub-title">National Taiwan Normal University <span class="right sub-title">Taipei, Taiwan</span></p>
      <p class="title highlight">Thesis/dissertation study-based assistant<span class="right sub-title">02/2019-07/2019 (6 mos)</span></p>
      <p class="sub-title mobile">Taipei, Taiwan. 02/2019-07/2019 (6 mos)</p>
      <p class="sub-title"> <a href="https://www.tahrd.ntnu.edu.tw/" target="_blank" class="link">Technology Application and Human Resource Development</a></p>
      <ul>
        <li>Project name: Mechatronics and extended teaching materials of robotic arm design</li>
        <li>Designing <a href="https://yuhantyh.gitlab.io/playground/works/robotic-arm/" target="_blank" class="link">a robotic arm DIY kit</a> and related courses for teaching STEM knowledge.</li>
        <li>Developing the robotic arm into a competition, assisting in holding robotic arm competitions and workshops for high school students.</li>
      </ul>
      <br>
      <p class="sub-title">STARTKIZ <span class="right sub-title">Hong Kong (Remote, Freelance)</span></p>
      <p class="title highlight">AR Filter Designer<span class="right sub-title">05/2020-present</span></p>
      <p class="sub-title mobile">Hong Kong (Remote). 05/2020-present</p>
      <p class="sub-title"> <a href="https://artbatlive.com/#1" target="_blank" class="link">ARTBAT LIVE (an art tech platform for digital drawing competition)</a></p>
      <ul>
        <li>Developing champion works from the digital drawing competition into interactive AR filters (Instagram, Facebook)</li>
        <li>Developing <a href="https://yuhantyh.gitlab.io/playground/arfilter/" target="_blank" class="link">interactive AR filters</a> (Instagram, Facebook) for clients.</li>
      </ul>
    </div>
  </div>
</section>
<section class="experience">
  <div class="container" style="padding-top: 50px;">
    </div>
</section>


</div>


<!---<script src="../js/p5.min.js" type="text/javascript"></script>
<script src="../js/fallCat.js" type="text/javascript"></script>--->

<style>

  h3{
    text-align: center;
  }

  p{
    text-align: justify;
    margin-bottom: 0.5rem;
  }


  .link{
    color: #17a2b8;
    font-weight: 600;
  }

  .link:hover{
    color: #096472;
  }

   .social-med{
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: right;
    align-content: center;
    padding-right: 38px;
    margin-bottom: 50px;
  }

  .social{
    color: white;
    background-color: #17a2b8;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 10px;
  }

  .highlight{
    background-color: rgb(253, 196, 235);
    line-height: 2;
  }

  .experience {
    width: 100%;
    height: auto;
    padding: 20px 38px 100px 50px;

  }

  .mobile{
    display: none;
  }

   li{
    color: black;
    text-align: justify;
  }


  
  .light_text{
    color: #ff8d54;
  }

  .title{
    color: #096472;
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: 1.5;
  }

  .sub-title{
    color:  black;
    font-size: 1.1rem;
    font-weight: bolder;
    
  }

  .school{
    font-size: 1.5rem;
  }

  .right{
    color: #00113e;
    float: right;
  }

  .self-intro{
    padding-left: 5px;
    padding-right: 50px;
  }

  .left-col{
    display: flex;
    justify-content: center;
    align-content: center;
  }

 
  @media only screen and (max-width:991px) {

  h3{
    padding-top: 50px;
  }

  .self-intro{
    padding: 0;
  }

  .right{
    display: none;
  }

  .mobile{
    display: block;
  }

  .experience {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
  }

  li{
    text-align: left;
  }

  .social-med{
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-right: 0px;
    margin-top: 30px;
    margin-bottom: 25px;
  }

}

</style>

{{ end }}


