{{ define "main" }}

<section class="site-project-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-project-header-content">
          <h1>
            {{ .Title | safeHTML }}
          </h1>
          <p>
            {{ .Params.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-project" id="project">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 6).Pages }}
      <!--<div class="col-lg-6 col-md-10 mx-auto">-->
        <div class="col-lg-4 col-6 ">
        <a href="{{ .Permalink }}">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
            </div>
            <!--<div class="site-project-item-content">
              <span>{{ delimit .Params.category ", " }}</span>
              <p class="title">{{ .Title }}</p>
            </div>-->
          </div>
        </a>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-project-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .site-project-item{
    height: 100%;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    /*-webkit-filter: saturate(10%);
    filter: saturate(10%);*/
  }

  .site-project-item:hover{
    box-shadow: none;
    -webkit-filter: none;
    filter:none;
  }

  .site-project-item-thumb{
    height: 100%;
  }

  .site-project-item-content{
    text-align: center;
    padding: 10px;
    opacity: 0.6;
  }

  .title{
    font-size: 1.5rem;
    color:  #00113e;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
  }


  @media only screen and (max-width:991px) {


    .site-project-item{
    height: 100%;
    -webkit-filter: none;
    filter: none;
    }

  }

</style>

{{ end }}