{{ define "main" }}

<section class="site-project-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-project-header-content">
          <h1>
            {{ .Title | safeHTML }}
          </h1>
          <p>
            {{ .Params.description }}
          </p>
        </div>
      </div>
      <!--- <div class="col-lg-4">
        <a href="#project" class="site-project-header-action scroll-to">
          <span>Scroll Down</span>
          <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
        </a>
      </div>--->
    </div>
  </div>
</section>

<section class="site-project" id="project">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 4).Pages }}
      <div class="col-lg-6 col-md-10 mx-auto">
        <a href="{{ .Permalink }}">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
            </div>
            <div class="site-project-item-content">
              <span>{{ delimit .Params.category ", " }}</span>
              <h3>{{ .Title }}</h3>
              <!--<h6 class="read-more">read more</h6>-->
            </div>
          </div>
        </a>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-project-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

<style>

.site-project-item{
  display: flex;
  flex-direction:column;
}

.site-project-item-content{
  position: relative;
  background-color: transparent;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

h3{
  color: white;
}
</style>

{{ end }}