{{ define "main" }}

<section class="site-project-single-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="site-project-single">
          <h1>
            {{ .Title }}
          </h1>
        </br>
          {{ with .Params.image }}
            <img src="{{ . | absURL }}" class="img-fluid mx-auto d-block rounded" style="margin-bottom: 40px" alt="post-thumb">
          {{ end }}
          <!--<p>{{ .Date.Format "January, 2006" }}</p>-->
          <div class="site-project-single-description">
            {{ .Content }}
          </div>
          {{ if .NextInSection }}
          <div class="site-project-single-action">
            <a href="{{.NextInSection.Permalink}}">
              <span class="link-area">
                <span data-text="Next Project">
                  Next Project
                </span>
              </span>
              <img src="{{ "images/to-top.svg" | absURL }}" alt="next project">
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}


