{{ define "main" }}
<section class="site-contact" id="range">
  <!--<div class="reminder_text" id="contact">
    <p class="small-text">catch me &</p>
    <a href= "mailto: tyhcindy@gmail.com" target="_blank" class="email"> Contact Me </a>
  </div>-->

  <a href= "https://www.instagram.com/hieeeeee_eey/" target="_blank" class="reminder_text">
    <div class="email" id="contact">
      <p class="small-text">catch me &</p>
      <p class="email">Contact me</p>
    </div>
  </a>

 

  <!--<a href= "mailto: tyhcindy@gmail.com" target="_blank" class="email reminder_text" id="contact"> Contact Me </a>-->
  <div class="bg">
      <p class="email show"> tyhcindy@gmail.com</p>
      <a href= "mailto:tyhcindy@gmail.com" target="_blank" class="normallink reminder_text"> tyhcindy@gmail.com</a>
      <a href="https://www.linkedin.com/in/yuhan-tseng-42b03421a" target="_blank"
        class="social_link reminder_text">Linkedin</a>
      <a href="https://www.youtube.com/@tsengyuhan8857" target="_blank" class="social_link reminder_text">YouTube</a>
      <p class="reminder_text" style="color: rgb(82, 81, 81);">inspired by Google paw print game for 2022 International Cat Day</p>
  </div>
</section>

<style>
  .bg{
    width: 100%;
    height:100%;
    background-color: rgb(247, 249, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .normallink {
    font-size: 20px;
    color:#096472;
    z-index:1000;
  }

  .social_link{
    font-size: 14px;
    color:#096472;
    z-index:1000;
  }

  .social_link:hover{
    color:black;
  }

  .normallink:hover{
    color:black;
  }

  .small-text{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    color:black;
  }

  #contact{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index:2000;
  }

  .email{
    font-size: 60px;
    z-index:500;
    color: rgb(246, 159, 159);
    /*position: absolute;*/
    /*transition: all .3s ease-out;*/
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .email:hover{
    color: #096472;
  }


  .reminder_text{
    visibility: visible;
  }

  p.show{
    font-size: 2rem;
  }

  .show{
    visibility: hidden;
  }

  @media only screen and (max-width:991px) {
    
    .show{
      visibility: visible;
    }
    .reminder_text{
      visibility: hidden;
    }

    .p5Canvas {
    visibility: hidden;
    }

  }

</style>

<script src="../js/p5.min.js" type="text/javascript"></script>
<script src="../js/footprint.js" type="text/javascript"></script>
<script src="../js/contact.js" type="text/javascript"></script>

{{ end }}
